---
const BRAND_NAME = 'javad Apps';
---

<section id="about">
  <div class="max-w-6xl mx-auto px-4 py-8 grid grid-cols-1 md:grid-cols-2 items-center">
    <div>
      <img class="max-w-[280px] sm:max-w-xs mx-auto" src="about.svg" alt="" />
    </div>
    <div class="h-fit -order-1 md:order-1">
      <h2 class="text-secondary text-sm font-bold uppercase mb-1">About</h2>
      <h3 class="text-gray-700 text-2xl">Know About Us</h3>
      <p class="mt-3 max-w-prose text-gray-600">
        Welcome to <strong><em class="not-italic">{BRAND_NAME}</em></strong>! With over 5 years of
        experience, we are dedicated to helping people like you create modern and professional
        websites that can help grow your business. At <strong
          ><em class="not-italic">{BRAND_NAME}</em></strong
        >, we understand the importance of having an online presence and the impact it can have on
        your success. That's why our commitment to you is to deliver high-quality websites at fair
        prices. We believe that creating a website should be accessible to everyone, regardless of
        your technical abilities or budget. Our team of experts will work closely with you to ensure
        that your website is tailored to your specific needs, and we'll be with you every step of
        the way. Whether you're just starting out or looking to revamp your online presence, <strong
          ><em class="not-italic">{BRAND_NAME}</em></strong
        > is here to help. Let us help you take the first step towards achieving your business goals.
      </p>
    </div>
  </div>
</section>
