<section id="about">
  <div class="max-w-6xl mx-auto px-4 py-8 grid grid-cols-1 md:grid-cols-2 items-center">
    <div>
      <img class="max-w-[280px] sm:max-w-xs mx-auto" src="about.svg" alt="" />
    </div>
    <div class="h-fit -order-1 md:order-1">
      <h2 class="text-secondary font-bold text-2xl">About</h2>
      <p class="mt-3 max-w-prose text-gray-700">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quas vitae dolore
        nesciunt soluta illum perspiciatis sint dolorum alias ad architecto dolores deserunt aperiam
        dignissimos, incidunt libero nostrum? Beatae autem quod magnam amet, aliquam eveniet quae.
        Libero reiciendis ipsa, odio modi minus minima neque, molestias quod dignissimos,
        reprehenderit quia omnis.
      </p>
    </div>
  </div>
</section>
