---
---

<section id="about" data-aos="fade-up" class="bg-gray-50 dark:bg-dark-lighter">
  <div class="max-w-6xl mx-auto px-4 py-14 grid grid-cols-1 md:grid-cols-2 items-center">
    <div>
      <img class="mx-auto max-w-[240px]" src="me.png" alt="" />
    </div>
    <div class="h-fit -order-1 md:order-1">
      <h2 class="text-secondary text-sm font-bold uppercase mb-1">About</h2>
      <h3 class="text-gray-700 dark:text-gray-200 text-2xl">Get Familiar With Me & My Mission</h3>
      <p class="mt-3 max-w-prose leading-normal text-gray-600 dark:text-gray-400">
        Hello! I'm <em class="text-secondary not-italic">Javad Moradkhah</em>. I'm a Fullstack web
        developer. My mission is to assist people in creating modern and professional websites that
        will enhance their businesses growth. I acknowledge the significance of establishing an
        online presence and the impact it can have on your success. Your website will be tailored to
        your specific needs, and I will guide you through every step of the process. Whether you're
        starting from scratch or updating your online presence, I'm here to assist you.
      </p>
    </div>
  </div>
</section>
