---
const links = {
  telegram: 'https://t.me/JavadMoradkhah',
  twitter: 'https://twitter.com/JMoradkhah',
  instagram: 'https://www.instagram.com/javadprogrammer/',
  linkedin: 'https://www.linkedin.com/in/javad-moradkhah',
};
---

<footer class="body-font bg-dark-lighter">
  <div class="max-w-6xl mx-auto px-4 py-6">
    <p class="mx-auto text-gray-600 text-sm text-center">
      All Rights Reserved © {new Date().getFullYear()}
    </p>
  </div>
</footer>
