---
import PrimaryLink from '../common/PrimaryLink.astro';
import HeroImage from '../common/HeroImage.astro';
---

<style>
  .heading {
    background: -webkit-linear-gradient(45deg, #0c7db9, #3bd6c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<section>
  <div class="max-w-6xl mx-auto px-8 md:px-4 py-10 md:py-14 grid grid-cols-1 md:grid-cols-2">
    <div
      data-aos="fade-right"
      class="mb-5 mt-5 md:mt-0 md:flex flex-col justify-center items-start"
    >
      <h1
        class="heading font-extrabold text-3xl md:text-4xl lg:text-5xl md:max-w-[20ch] leading-tight text-primary"
      >
        Transform Your Online Presence with Fast and Modern Websites!
      </h1>
      <p class="my-5 max-w-prose text-gray-400">
        Your online presence is your voice in the digital world. Let me help you make it heard! I
        will take your business or personal brand to the next level. Let's work together to bring
        your vision to life and make your mark on the web. The possibilities are endless, so let's
        get started today!
      </p>
      <PrimaryLink link="#contact">Get Started</PrimaryLink>
    </div>
    <div data-aos="fade-left" class="-order-1 md:order-[0] relative px-[30%] md:px-[20%]">
      <HeroImage />
    </div>
  </div>
</section>
