---
const { title, description, link } = Astro.props;
---

<li
  class="p-3 md:px-8 md:py-6 transition-colors duration-300 border-l-2 border-gray-800 border-opacity-60"
>
  <h2 class="text-lg sm:text-xl text-gray-200 font-medium title-font mb-2">
    {title}
  </h2>
  <p class="leading-relaxed text-sm md:text-base text-gray-300 line-clamp-3 mb-2">
    {description}
  </p>
  <a class="py-2 text-secondary inline-flex items-center" href={link} target="_blank">
    Check Out
    <svg
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="w-4 h-4 ml-1"
      viewBox="0 0 24 24"
    >
      <path d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
  </a>
</li>
