---
import ServiceItem from './ServiceItem.astro';
---

<section id="services" class="border-y">
  <div class="max-w-6xl mx-auto px-4 py-10 text-gray-600 body-font">
    <div class="w-full mb-16 text-center">
      <h2 class="text-sm text-primary tracking-widest font-bold title-font uppercase mb-1">
        Services
      </h2>
      <h3 class="max-w-prose mx-auto leading-relaxed text-2xl text-gray-700">
        Services We Provide For You And Your Business
      </h3>
    </div>

    <div class="md:grid md:grid-cols-3 sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-1">
      <ServiceItem
        title="Frontend Development"
        description="Frontend development is the process of building the visible parts of a website or application that users interact with using languages like HTML, CSS, and JavaScript. It aims to create a user-friendly and visually appealing experience."
      >
        <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 228">
          <path
            fill="currentColor"
            d="M210.483 73.824a171.49 171.49 0 0 0-8.24-2.597c.465-1.9.893-3.777 1.273-5.621c6.238-30.281 2.16-54.676-11.769-62.708c-13.355-7.7-35.196.329-57.254 19.526a171.23 171.23 0 0 0-6.375 5.848a155.866 155.866 0 0 0-4.241-3.917C100.759 3.829 77.587-4.822 63.673 3.233C50.33 10.957 46.379 33.89 51.995 62.588a170.974 170.974 0 0 0 1.892 8.48c-3.28.932-6.445 1.924-9.474 2.98C17.309 83.498 0 98.307 0 113.668c0 15.865 18.582 31.778 46.812 41.427a145.52 145.52 0 0 0 6.921 2.165a167.467 167.467 0 0 0-2.01 9.138c-5.354 28.2-1.173 50.591 12.134 58.266c13.744 7.926 36.812-.22 59.273-19.855a145.567 145.567 0 0 0 5.342-4.923a168.064 168.064 0 0 0 6.92 6.314c21.758 18.722 43.246 26.282 56.54 18.586c13.731-7.949 18.194-32.003 12.4-61.268a145.016 145.016 0 0 0-1.535-6.842c1.62-.48 3.21-.974 4.76-1.488c29.348-9.723 48.443-25.443 48.443-41.52c0-15.417-17.868-30.326-45.517-39.844Zm-6.365 70.984c-1.4.463-2.836.91-4.3 1.345c-3.24-10.257-7.612-21.163-12.963-32.432c5.106-11 9.31-21.767 12.459-31.957c2.619.758 5.16 1.557 7.61 2.4c23.69 8.156 38.14 20.213 38.14 29.504c0 9.896-15.606 22.743-40.946 31.14Zm-10.514 20.834c2.562 12.94 2.927 24.64 1.23 33.787c-1.524 8.219-4.59 13.698-8.382 15.893c-8.067 4.67-25.32-1.4-43.927-17.412a156.726 156.726 0 0 1-6.437-5.87c7.214-7.889 14.423-17.06 21.459-27.246c12.376-1.098 24.068-2.894 34.671-5.345a134.17 134.17 0 0 1 1.386 6.193ZM87.276 214.515c-7.882 2.783-14.16 2.863-17.955.675c-8.075-4.657-11.432-22.636-6.853-46.752a156.923 156.923 0 0 1 1.869-8.499c10.486 2.32 22.093 3.988 34.498 4.994c7.084 9.967 14.501 19.128 21.976 27.15a134.668 134.668 0 0 1-4.877 4.492c-9.933 8.682-19.886 14.842-28.658 17.94ZM50.35 144.747c-12.483-4.267-22.792-9.812-29.858-15.863c-6.35-5.437-9.555-10.836-9.555-15.216c0-9.322 13.897-21.212 37.076-29.293c2.813-.98 5.757-1.905 8.812-2.773c3.204 10.42 7.406 21.315 12.477 32.332c-5.137 11.18-9.399 22.249-12.634 32.792a134.718 134.718 0 0 1-6.318-1.979Zm12.378-84.26c-4.811-24.587-1.616-43.134 6.425-47.789c8.564-4.958 27.502 2.111 47.463 19.835a144.318 144.318 0 0 1 3.841 3.545c-7.438 7.987-14.787 17.08-21.808 26.988c-12.04 1.116-23.565 2.908-34.161 5.309a160.342 160.342 0 0 1-1.76-7.887Zm110.427 27.268a347.8 347.8 0 0 0-7.785-12.803c8.168 1.033 15.994 2.404 23.343 4.08c-2.206 7.072-4.956 14.465-8.193 22.045a381.151 381.151 0 0 0-7.365-13.322Zm-45.032-43.861c5.044 5.465 10.096 11.566 15.065 18.186a322.04 322.04 0 0 0-30.257-.006c4.974-6.559 10.069-12.652 15.192-18.18ZM82.802 87.83a323.167 323.167 0 0 0-7.227 13.238c-3.184-7.553-5.909-14.98-8.134-22.152c7.304-1.634 15.093-2.97 23.209-3.984a321.524 321.524 0 0 0-7.848 12.897Zm8.081 65.352c-8.385-.936-16.291-2.203-23.593-3.793c2.26-7.3 5.045-14.885 8.298-22.6a321.187 321.187 0 0 0 7.257 13.246c2.594 4.48 5.28 8.868 8.038 13.147Zm37.542 31.03c-5.184-5.592-10.354-11.779-15.403-18.433c4.902.192 9.899.29 14.978.29c5.218 0 10.376-.117 15.453-.343c-4.985 6.774-10.018 12.97-15.028 18.486Zm52.198-57.817c3.422 7.8 6.306 15.345 8.596 22.52c-7.422 1.694-15.436 3.058-23.88 4.071a382.417 382.417 0 0 0 7.859-13.026a347.403 347.403 0 0 0 7.425-13.565Zm-16.898 8.101a358.557 358.557 0 0 1-12.281 19.815a329.4 329.4 0 0 1-23.444.823c-7.967 0-15.716-.248-23.178-.732a310.202 310.202 0 0 1-12.513-19.846h.001a307.41 307.41 0 0 1-10.923-20.627a310.278 310.278 0 0 1 10.89-20.637l-.001.001a307.318 307.318 0 0 1 12.413-19.761c7.613-.576 15.42-.876 23.31-.876H128c7.926 0 15.743.303 23.354.883a329.357 329.357 0 0 1 12.335 19.695a358.489 358.489 0 0 1 11.036 20.54a329.472 329.472 0 0 1-11 20.722Zm22.56-122.124c8.572 4.944 11.906 24.881 6.52 51.026c-.344 1.668-.73 3.367-1.15 5.09c-10.622-2.452-22.155-4.275-34.23-5.408c-7.034-10.017-14.323-19.124-21.64-27.008a160.789 160.789 0 0 1 5.888-5.4c18.9-16.447 36.564-22.941 44.612-18.3ZM128 90.808c12.625 0 22.86 10.235 22.86 22.86s-10.235 22.86-22.86 22.86s-22.86-10.235-22.86-22.86s10.235-22.86 22.86-22.86Z"
          >
          </path>
        </svg>
      </ServiceItem>

      <ServiceItem
        title="Static Development"
        description="Static website development involves creating pre-built web pages that can be served directly to users, without requiring additional processing. We use Astro which is a modern framework that uses modern web development techniques to build high-performance static websites."
      >
        <svg class="h-6" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.9663 1.31527C12.1622 1.55862 12.2623 1.88694 12.4622 2.54371L16.8297 16.8909C15.1892 16.0395 13.4284 15.4434 11.6081 15.1231L8.76443 5.51354C8.74175 5.43689 8.69488 5.36964 8.63081 5.32185C8.56674 5.27406 8.48892 5.24829 8.40898 5.2484C8.32905 5.24851 8.2513 5.2745 8.18737 5.32247C8.12343 5.37044 8.07674 5.43783 8.05428 5.51454L5.24507 15.1182C3.41657 15.4371 1.6477 16.0341 0 16.8886L4.38887 2.54048C4.58942 1.88483 4.6897 1.55713 4.88577 1.31415C5.05881 1.0997 5.28389 0.933125 5.53955 0.830316C5.82918 0.713867 6.17206 0.713867 6.85769 0.713867H9.99237C10.6789 0.713867 11.0221 0.713867 11.312 0.830565C11.5678 0.93377 11.793 1.10061 11.9663 1.31527Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.4888 17.5736C11.7688 18.1893 10.3317 18.6092 8.67642 18.6092C6.64478 18.6092 4.94196 17.9767 4.48997 17.126C4.32848 17.6137 4.29228 18.1715 4.29228 18.528C4.29228 18.528 4.18578 20.2782 5.40315 21.4954C5.40317 21.3451 5.43278 21.1963 5.49031 21.0575C5.54784 20.9186 5.63216 20.7925 5.73844 20.6862C5.84473 20.58 5.9709 20.4957 6.10976 20.4382C6.24862 20.3807 6.39744 20.3511 6.54774 20.3511C7.63099 20.3511 7.62974 21.2961 7.62887 22.063L7.62875 22.1314C7.62875 23.2953 8.34014 24.2931 9.35185 24.7138C9.19614 24.3933 9.11547 24.0415 9.11597 23.6852C9.11597 22.5751 9.76763 22.1617 10.5251 21.6812C11.1278 21.299 11.7974 20.8744 12.2589 20.0225C12.5074 19.5636 12.6371 19.0498 12.6363 18.528C12.6366 18.2042 12.5869 17.8822 12.4888 17.5736Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.4888 17.5736C11.7688 18.1893 10.3317 18.6092 8.67642 18.6092C6.64478 18.6092 4.94196 17.9767 4.48997 17.126C4.32848 17.6137 4.29228 18.1715 4.29228 18.528C4.29228 18.528 4.18578 20.2782 5.40315 21.4954C5.40317 21.3451 5.43278 21.1963 5.49031 21.0575C5.54784 20.9186 5.63216 20.7925 5.73844 20.6862C5.84473 20.58 5.9709 20.4957 6.10976 20.4382C6.24862 20.3807 6.39744 20.3511 6.54774 20.3511C7.63099 20.3511 7.62974 21.2961 7.62887 22.063L7.62875 22.1314C7.62875 23.2953 8.34014 24.2931 9.35185 24.7138C9.19614 24.3933 9.11547 24.0415 9.11597 23.6852C9.11597 22.5751 9.76763 22.1617 10.5251 21.6812C11.1278 21.299 11.7974 20.8744 12.2589 20.0225C12.5074 19.5636 12.6371 19.0498 12.6363 18.528C12.6366 18.2042 12.5869 17.8822 12.4888 17.5736Z"
            fill="currentColor"></path>
        </svg>
      </ServiceItem>

      <ServiceItem
        title="Full-Stack Development"
        description="Fullstack development involves creating both the visible parts of a website or application that users interact with (frontend) and the behind-the-scenes parts that make it work (backend)."
      >
        <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 264">
          <path
            fill="currentColor"
            d="M255.856 59.62c.095.351.144.713.144 1.077v56.568c0 1.478-.79 2.843-2.073 3.578L206.45 148.18v54.18a4.135 4.135 0 0 1-2.062 3.579l-99.108 57.053c-.227.128-.474.21-.722.299c-.093.03-.18.087-.278.113a4.15 4.15 0 0 1-2.114 0c-.114-.03-.217-.093-.325-.134c-.227-.083-.464-.155-.68-.278L2.073 205.938A4.128 4.128 0 0 1 0 202.36V32.656c0-.372.052-.733.144-1.083c.031-.119.103-.227.145-.346c.077-.216.15-.438.263-.639c.077-.134.19-.242.283-.366c.119-.165.227-.335.366-.48c.119-.118.274-.206.408-.309c.15-.124.283-.258.453-.356h.005L51.613.551a4.135 4.135 0 0 1 4.125 0l49.546 28.526h.01c.165.104.305.232.454.351c.134.103.284.196.402.31c.145.149.248.32.371.484c.088.124.207.232.279.366c.118.206.185.423.268.64c.041.118.113.226.144.35c.095.351.144.714.145 1.078V138.65l41.286-23.773V60.692c0-.36.052-.727.145-1.072c.036-.124.103-.232.144-.35c.083-.217.155-.44.268-.64c.077-.134.19-.242.279-.366c.123-.165.226-.335.37-.48c.12-.118.269-.206.403-.309c.155-.124.289-.258.454-.356h.005l49.551-28.526a4.13 4.13 0 0 1 4.125 0l49.546 28.526c.175.103.309.232.464.35c.128.104.278.197.397.31c.144.15.247.32.37.485c.094.124.207.232.28.366c.118.2.185.423.267.64c.047.118.114.226.145.35Zm-8.115 55.258v-47.04l-17.339 9.981l-23.953 13.792v47.04l41.297-23.773h-.005Zm-49.546 85.095V152.9l-23.562 13.457l-67.281 38.4v47.514l90.843-52.3ZM8.259 39.796v160.177l90.833 52.294v-47.505L51.64 177.906l-.015-.01l-.02-.01c-.16-.093-.295-.227-.444-.34c-.13-.104-.279-.186-.392-.3l-.01-.015c-.134-.129-.227-.289-.34-.433c-.104-.14-.227-.258-.31-.402l-.005-.016c-.093-.154-.15-.34-.217-.515c-.067-.155-.154-.3-.196-.464v-.005c-.051-.196-.061-.403-.082-.604c-.02-.154-.062-.309-.062-.464V63.57L25.598 49.772l-17.339-9.97v-.006ZM53.681 8.893L12.399 32.656l41.272 23.762L94.947 32.65L53.671 8.893h.01Zm21.468 148.298l23.948-13.786V39.796L81.76 49.778L57.805 63.569v103.608l17.344-9.986ZM202.324 36.935l-41.276 23.762l41.276 23.763l41.271-23.768l-41.27-23.757Zm-4.13 54.676l-23.953-13.792l-17.338-9.981v47.04l23.948 13.787l17.344 9.986v-47.04Zm-94.977 106.006l60.543-34.564l30.264-17.272l-41.246-23.747l-47.489 27.34l-43.282 24.918l41.21 23.325Z"
          >
          </path>
        </svg>
      </ServiceItem>
    </div>
  </div>
</section>
