---
import ServiceItem from './ServiceItem.astro';
---

<section id="services" data-aos="zoom-in" class="border-y dark:border-y-gray-800">
  <div class="max-w-6xl mx-auto px-4 py-10 body-font">
    <div class="w-full mb-10 text-center">
      <h2 class="text-sm text-primary tracking-widest font-bold title-font uppercase mb-1">
        Services
      </h2>
      <h3 class="max-w-prose mx-auto leading-relaxed text-2xl text-gray-700 dark:text-gray-200">
        Services I Provide To Grow Your Business
      </h3>
    </div>

    <div class="max-w-4xl mx-auto space-y-5 md:space-y-0 md:grid md:gap-5 md:grid-cols-2">
      <ServiceItem
        title="Full Solutions"
        description="I build speedy and cutting-edge websites using modern tools that can accelerate the growth of your business."
      >
        <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 289"
          ><path
            fill="currentColor"
            d="M128 288.464c-3.975 0-7.685-1.06-11.13-2.915l-35.247-20.936c-5.3-2.915-2.65-3.975-1.06-4.505c7.155-2.385 8.48-2.915 15.9-7.156c.796-.53 1.856-.265 2.65.265l27.032 16.166c1.06.53 2.385.53 3.18 0l105.74-61.217c1.06-.53 1.59-1.59 1.59-2.915V83.08c0-1.325-.53-2.385-1.59-2.915l-105.74-60.953c-1.06-.53-2.385-.53-3.18 0L20.405 80.166c-1.06.53-1.59 1.855-1.59 2.915v122.17c0 1.06.53 2.385 1.59 2.915l28.887 16.695c15.636 7.95 25.44-1.325 25.44-10.6V93.68c0-1.59 1.326-3.18 3.181-3.18h13.516c1.59 0 3.18 1.325 3.18 3.18v120.58c0 20.936-11.396 33.126-31.272 33.126c-6.095 0-10.865 0-24.38-6.625l-27.827-15.9C4.24 220.885 0 213.465 0 205.515V83.346C0 75.396 4.24 67.976 11.13 64L116.87 2.783c6.625-3.71 15.635-3.71 22.26 0L244.87 64C251.76 67.975 256 75.395 256 83.346v122.17c0 7.95-4.24 15.37-11.13 19.345L139.13 286.08c-3.445 1.59-7.42 2.385-11.13 2.385Zm32.596-84.009c-46.377 0-55.917-21.2-55.917-39.221c0-1.59 1.325-3.18 3.18-3.18h13.78c1.59 0 2.916 1.06 2.916 2.65c2.12 14.045 8.215 20.936 36.306 20.936c22.261 0 31.802-5.035 31.802-16.96c0-6.891-2.65-11.926-37.367-15.372c-28.886-2.915-46.907-9.275-46.907-32.33c0-21.467 18.02-34.187 48.232-34.187c33.921 0 50.617 11.66 52.737 37.101c0 .795-.265 1.59-.795 2.385c-.53.53-1.325 1.06-2.12 1.06h-13.78c-1.326 0-2.65-1.06-2.916-2.385c-3.18-14.575-11.395-19.345-33.126-19.345c-24.38 0-27.296 8.48-27.296 14.84c0 7.686 3.445 10.07 36.306 14.31c32.597 4.24 47.967 10.336 47.967 33.127c-.265 23.321-19.345 36.571-53.002 36.571Z"
          ></path></svg
        >
      </ServiceItem>

      <ServiceItem
        title="E-Commerce Solutions"
        description="I create online stores that have everything you need to sell your products and expand your business."
      >
        <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M3 3h2l.5 3m0 0L7 15h11l3-9H5.5z"></path>
            <circle cx="8" cy="20" r="1"> </circle>
            <circle cx="17" cy="20" r="1"></circle>
          </g>
        </svg>
      </ServiceItem>

      <ServiceItem
        title="SSG Solutions"
        description="If you require a quick and straightforward static website to introduce yourself, your business, or your services, I can help you with that."
      >
        <svg class="h-6" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.9663 1.31527C12.1622 1.55862 12.2623 1.88694 12.4622 2.54371L16.8297 16.8909C15.1892 16.0395 13.4284 15.4434 11.6081 15.1231L8.76443 5.51354C8.74175 5.43689 8.69488 5.36964 8.63081 5.32185C8.56674 5.27406 8.48892 5.24829 8.40898 5.2484C8.32905 5.24851 8.2513 5.2745 8.18737 5.32247C8.12343 5.37044 8.07674 5.43783 8.05428 5.51454L5.24507 15.1182C3.41657 15.4371 1.6477 16.0341 0 16.8886L4.38887 2.54048C4.58942 1.88483 4.6897 1.55713 4.88577 1.31415C5.05881 1.0997 5.28389 0.933125 5.53955 0.830316C5.82918 0.713867 6.17206 0.713867 6.85769 0.713867H9.99237C10.6789 0.713867 11.0221 0.713867 11.312 0.830565C11.5678 0.93377 11.793 1.10061 11.9663 1.31527Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.4888 17.5736C11.7688 18.1893 10.3317 18.6092 8.67642 18.6092C6.64478 18.6092 4.94196 17.9767 4.48997 17.126C4.32848 17.6137 4.29228 18.1715 4.29228 18.528C4.29228 18.528 4.18578 20.2782 5.40315 21.4954C5.40317 21.3451 5.43278 21.1963 5.49031 21.0575C5.54784 20.9186 5.63216 20.7925 5.73844 20.6862C5.84473 20.58 5.9709 20.4957 6.10976 20.4382C6.24862 20.3807 6.39744 20.3511 6.54774 20.3511C7.63099 20.3511 7.62974 21.2961 7.62887 22.063L7.62875 22.1314C7.62875 23.2953 8.34014 24.2931 9.35185 24.7138C9.19614 24.3933 9.11547 24.0415 9.11597 23.6852C9.11597 22.5751 9.76763 22.1617 10.5251 21.6812C11.1278 21.299 11.7974 20.8744 12.2589 20.0225C12.5074 19.5636 12.6371 19.0498 12.6363 18.528C12.6366 18.2042 12.5869 17.8822 12.4888 17.5736Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.4888 17.5736C11.7688 18.1893 10.3317 18.6092 8.67642 18.6092C6.64478 18.6092 4.94196 17.9767 4.48997 17.126C4.32848 17.6137 4.29228 18.1715 4.29228 18.528C4.29228 18.528 4.18578 20.2782 5.40315 21.4954C5.40317 21.3451 5.43278 21.1963 5.49031 21.0575C5.54784 20.9186 5.63216 20.7925 5.73844 20.6862C5.84473 20.58 5.9709 20.4957 6.10976 20.4382C6.24862 20.3807 6.39744 20.3511 6.54774 20.3511C7.63099 20.3511 7.62974 21.2961 7.62887 22.063L7.62875 22.1314C7.62875 23.2953 8.34014 24.2931 9.35185 24.7138C9.19614 24.3933 9.11547 24.0415 9.11597 23.6852C9.11597 22.5751 9.76763 22.1617 10.5251 21.6812C11.1278 21.299 11.7974 20.8744 12.2589 20.0225C12.5074 19.5636 12.6371 19.0498 12.6363 18.528C12.6366 18.2042 12.5869 17.8822 12.4888 17.5736Z"
            fill="currentColor"></path>
        </svg>
      </ServiceItem>

      <ServiceItem
        title="ISR Soultions"
        description="I specialize in creating fast and reliable ISR websites that are perfect for blogs with infrequent content changes."
      >
        <svg class="h-6" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_40_26)">
            <path
              d="M17.1725 2.29872C16.4627 1.89953 15.5373 1.90132 14.8269 2.29872C11.2689 4.26227 7.71082 6.22641 4.15216 8.18906C3.45969 8.55335 2.99264 9.29698 3.00009 10.0688V21.9328C2.99509 22.7197 3.48622 23.4705 4.19655 23.8298C5.21871 24.3736 6.2118 24.9726 7.25244 25.4802C8.45451 26.0709 9.95843 26.2015 11.1752 25.5855C12.1629 25.075 12.6016 23.9395 12.6003 22.896C12.6083 18.9806 12.6016 15.0651 12.6034 11.1496C12.6269 10.9756 12.4962 10.7896 12.3064 10.7938C11.8517 10.7866 11.3964 10.7896 10.9417 10.7926C10.7699 10.7764 10.6022 10.9191 10.6152 11.0918C10.6091 14.982 10.6164 18.8734 10.6115 22.7642C10.6214 23.3024 10.2578 23.8196 9.73913 24.0014C8.5412 24.4213 5.12198 22.2012 5.12198 22.2012C4.9965 22.1431 4.91682 22.007 4.92912 21.8718C4.92912 17.9576 4.92973 14.0433 4.92912 10.1297C4.91187 9.97191 5.00912 9.8298 5.15402 9.76538C8.70033 7.8134 12.2448 5.85654 15.7911 3.90336C15.9143 3.82115 16.086 3.8214 16.2089 3.90396C19.7552 5.85654 23.3003 7.81161 26.8472 9.76368C26.9926 9.828 27.0857 9.9725 27.0709 10.1297C27.0703 14.0433 27.0721 17.9576 27.0697 21.8713C27.0802 22.0098 27.0086 22.144 26.8793 22.2048C23.3661 24.1462 19.8129 26.025 16.3315 28.0228C16.1796 28.1099 16.0075 28.2086 15.8373 28.1126C14.9218 27.6062 14.0174 27.0801 13.1049 26.5688C13.0057 26.5069 12.8794 26.4803 12.7759 26.5496C12.3668 26.7652 11.982 26.9398 11.5122 27.1258C10.8524 27.387 10.9578 27.4938 11.5529 27.8405C12.62 28.4444 13.6889 29.0459 14.756 29.6504C15.4585 30.0888 16.4024 30.12 17.1275 29.7149C20.6861 27.7538 24.2436 25.7904 27.8029 23.8293C28.5113 23.468 29.0049 22.7202 28.9999 21.9327V10.0688C29.0068 9.31264 28.5576 8.58227 27.886 8.21259C24.3156 6.23947 20.7435 4.27064 17.1725 2.29872Z"
              fill="currentColor"
            >
            </path>
            <g clip-path="url(#clip1_40_26)">
              <mask
                id="mask0_40_26"
                style="mask-type:alpha"
                maskUnits="userSpaceOnUse"
                x="1"
                y="1"
                width="32"
                height="32"
              >
                <path
                  d="M17 33C25.8366 33 33 25.8366 33 17C33 8.16344 25.8366 1 17 1C8.16344 1 1 8.16344 1 17C1 25.8366 8.16344 33 17 33Z"
                  fill="currentColor"></path>
              </mask>
              <g mask="url(#mask0_40_26)">
                <path
                  d="M25.8584 27.4151C25.9384 27.3463 25.9496 27.2268 25.8848 27.1434L13.1015 10.6773C13.0636 10.6285 13.0053 10.6 12.9436 10.6H10.8C10.6895 10.6 10.6 10.6895 10.6 10.8V22.0046C10.6 22.115 10.6895 22.2046 10.8 22.2046H12.3532C12.4636 22.2046 12.5532 22.115 12.5532 22.0046V13.6658C12.5532 13.4751 12.7946 13.3926 12.9113 13.5433L24.3525 28.3253C24.4168 28.4084 24.5346 28.4277 24.6212 28.3681C25.0503 28.0728 25.4633 27.7547 25.8584 27.4151Z"
                  fill="currentColor"
                >
                </path>
                <path
                  d="M20 10.8C20 10.6895 20.0895 10.6 20.2 10.6H22C22.1105 10.6 22.2 10.6895 22.2 10.8V22.4C22.2 22.5104 22.1105 22.6 22 22.6H20.2C20.0895 22.6 20 22.5104 20 22.4V10.8Z"
                  fill="currentColor"
                >
                </path>
              </g>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_40_26">
              <rect width="32" height="32" fill="white"></rect>
            </clipPath>
            <clipPath id="clip1_40_26">
              <rect width="32" height="32" fill="white" transform="translate(1 1)"></rect>
            </clipPath>
          </defs>
        </svg>
      </ServiceItem>
    </div>
  </div>
</section>
