---
import TestimonialItem from './TestimonialItem.astro';
const testimonialSample = {
  author: 'John Doe - Business Owner',
  text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo cupiditate labore sit nobis sed culpa totam nulla sapiente laboriosam quisquam?',
};

const testimonials = new Array(6).fill(null).map((_) => testimonialSample);
---

<section id="testimonials" data-aos="fade-in">
  <div class="max-w-6xl mx-auto px-6 xl:px-0 py-10 body-font relative">
    <div class="w-full mb-10 text-center">
      <h2 class="text-sm text-primary tracking-widest font-bold title-font uppercase mb-1">
        Testimonials
      </h2>
      <h3 class="max-w-prose mx-auto leading-relaxed text-xl md:text-2xl text-gray-200">
        What My Clients and Colleagues Say
      </h3>
    </div>

    <div class="testimonials-swiper overflow-hidden">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        {
          testimonials.map((testimonial) => {
            return (
              <li class="swiper-slide">
                <TestimonialItem author={testimonial.author} text={testimonial.text} />
              </li>
            );
          })
        }
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <button class="swiper-button-prev">
        <svg class="w-6 h-6 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M15.125 21.1L6.7 12.7q-.15-.15-.213-.325T6.425 12q0-.2.062-.375T6.7 11.3l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L9.55 12l7.35 7.35q.35.35.35.863t-.375.887q-.375.375-.875.375t-.875-.375Z"
          >
          </path>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg class="w-6 h-6 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M7.15 21.1q-.375-.375-.375-.888t.375-.887L14.475 12l-7.35-7.35q-.35-.35-.35-.875t.375-.9q.375-.375.888-.375t.887.375l8.4 8.425q.15.15.213.325T17.6 12q0 .2-.063.375t-.212.325L8.9 21.125q-.35.35-.863.35T7.15 21.1Z"
          >
          </path>
        </svg>
      </button>
    </div>
  </div>
</section>
