---
import Header from '../components/layout/Header.astro';
import Hero from '../components/layout/Hero.astro';
import About from '../components/layout/About.astro';
import Services from '../components/layout/Services.astro';
import Testimonials from '../components/layout/Testimonials.astro';
import Portfolio from '../components/layout/Portfolio.astro';
import Contact from '../components/layout/Contact.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/index.css';
import Skills from '../components/layout/Skills.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Welcome to my website! I'm Javad Moradkhah, a fullstack web developer with expertise in front-end and back-end technologies. Browse my portfolio to see examples of my work, and contact me to discuss your web development needs. Let's build something great together!"
    />
    <meta
      name="keywords"
      content="Website, WordPress, Web, Freelancer, Developer, Fullstack, JavaScript, React, Node.js, Next.js"
    />
    <meta name="author" content="Javad Moradkhah" />
    <title>Javad Moradkhah</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  </head>

  <body>
    <Header />
    <Hero />
    <About />
    <Skills />
    <Services />
    <Testimonials />
    <Portfolio />
    <Contact />
    <Footer />

    <script src="../js/index.js"></script>
  </body>
</html>
